body, .smooth-container { scroll-behavior: smooth }

* {
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

.logo {
  margin-left: 15px;
  margin-top: 10px;
}

.header-image, .about-image, .project-image {
  max-width: 100%;
  height: auto;
}

.involvement-image {
  max-width: 80%;
  height: auto;
}

.skill-icon {
  width: 80px;
  height: 80px;
}

.contact-icon {
  opacity: 85%;
  width: 50px;
  height: 50px;
}

a.contact-icon:hover {
  opacity: 100%;
}

.center {
  margin: auto;
}

.navbar-nav > li{
  padding-left:20px;
  padding-right:20px;
}

.nav-item{
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: 425%;
}

h2, h3 {
  font-weight: 700;
  font-size: 150%;
}

p {
  font-weight: 300;
}

a {
  color: #FF8686;
}

a.mail:hover{
  color: white;
  text-decoration: none;
}

a:hover{
  color: #FFD86F;
  text-decoration: none;
}

a.email:hover{
  color: white;
  text-decoration: none;
}

hr.solid {
  border-top: 4px solid #FF8686;
  width: 100px;
  margin: 0px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.button {
  background-color: #FF8686;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
